* {
    box-sizing: border-box;
    color: white;
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
}

body {
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: #222;
}

#rankings {
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    overflow: hidden;
    border: 1px solid gray;
}

.teamitem{
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: #282828;
    height: 35px;
}

.teamitem div {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 180px;
    padding-top: 5px;
    padding-bottom: 5px;
    height: 100%;
    text-decoration: inherit;
}

.teamitem > *:nth-child(even) {
  background-color: transparent;
}

/* Applies to odd elements (1st, 3rd, 5th, etc.) */
.teamitem > *:nth-child(odd) {
  background-color: #333;
}

.teamitem div:first-child {
    width: 80px;
    font-weight: 700;
}

.teamitem div:last-child {
    width: 40px;
    font-weight: 700;
}

.teamitem div input {
    scale: 1.5;
}

.selectFilter {
    display: flex;
    align-items: center;
    height: 30px;
    margin-bottom: 20px;
    gap: 10px;
}

.selectFilter button {
    padding: 6px;
    background-color: #333;
    outline: 0;
    border: 1px solid gray;
    border-radius: 5px;
    cursor: pointer;
}

.strikethrough * {
  text-decoration: line-through !important;
  color: darkgray;
}

select {
    padding: 6px;
    background-color: #333;
    outline: 0;
    border: 1px solid gray;
    border-radius: 5px;
    cursor: pointer;
    margin-bottom: 15px;
}

h1 {
    margin-top: 20px;
    padding: 0;
}

h4 {
    margin: 0;
    padding-bottom: 15px;
}