* {
    box-sizing: border-box;
    color: white;
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
}

body {
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: #222;
}

#rankings {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 10px;
    overflow: hidden;
    border: 1px solid gray;
}

.teamitem{
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: #282828;
    height: 35px;
}

.teamitem div {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 180px;
    padding-top: 5px;
    padding-bottom: 5px;
    height: 100%;
    text-decoration: inherit;
}

.teamitem > *:nth-child(even) {
  background-color: transparent;
}

.teamitem > *:nth-child(1) {
  background-color: transparent;
}

/* Applies to odd elements (1st, 3rd, 5th, etc.) */
.teamitem > *:nth-child(odd) {
  background-color: #333;
}

#teamnumber {
  width: 80px;
  font-weight: 700;
}

.teamitem div:first-child {
    width: 40px;
}

.teamitem div:last-child {
    width: 40px;
    font-weight: 700;
}

.teamitem div input {
    scale: 1.5;
}

.selectFilter {
    display: flex;
    align-items: center;
    height: 30px;
    margin-bottom: 20px;
    gap: 10px;
}

.selectFilter button {
    padding: 6px;
    background-color: #333;
    outline: 0;
    border: 1px solid gray;
    border-radius: 5px;
    cursor: pointer;
}

.strikethrough * {
  text-decoration: line-through !important;
  color: darkgray;
}

select {
    padding: 6px;
    background-color: #333;
    outline: 0;
    border: 1px solid gray;
    border-radius: 5px;
    cursor: pointer;
    margin-bottom: 15px;
}

h1 {
    margin-top: 20px;
    padding: 0;
}

h2 {
    font-size: 18px;
    margin-left: 10px;
    margin-right: 10px;
}

h4 {
    margin: 0;
    padding-bottom: 15px;
}

@keyframes rotate-Loader {
  100% {
    transform: rotate(-360deg);
  }
}

@keyframes rotateSpinner-Loader {
  100% {
    transform: rotate(360deg);
  }
}

@keyframes dot-Loader {
  0% {
    background: #fff;
    box-shadow: inset 0 0 0 43px #fff;
  }
  25% { 
    background: #e003ef;
    box-shadow: inset 0 0 0 36px #fff;
  }
  50% {
    background: #fff;
    box-shadow: inset 0 0 0 43px #fff;
  }
  75% {
    background: #3d3eff;  
    box-shadow: inset 0 0 0 36px #fff;
  }
  50% {
    background: #fff;
    box-shadow: inset 0 0 0 43px #fff;
  }
}

.Loader {
    margin: 10px;
  animation: rotate-Loader 3s infinite linear;
  background-image: linear-gradient(#3d3eff, #e003ef);
  border-radius: 50%;
  height: 100px;
  overflow: hidden;
  position: relative;
  width: 100px;
  -webkit-backface-visibility: hidden;
  -webkit-mask-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAIAAACQd1PeAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAA5JREFUeNpiYGBgAAgwAAAEAAGbA+oJAAAAAElFTkSuQmCC);
  
  &::before { 
    animation: rotateSpinner-Loader 13s infinite linear;
    background: rgba(255, 255, 255, 0.5);
    content: '';
    height: 60px;
    left: 0;
    position: absolute;
    top: 0;
    width: 60px;
    transform-origin: 50px 50px;
  }
  
  &::after {
    animation: dot-Loader 1.5s infinite;
    background: #e003ef;
    border-radius: 50%;
    box-shadow: inset 0 0 0 45px #fff;
    content: '';
    height: 90px;
    left: 5px;
    position: absolute;
    top: 5px;
    width: 90px;
  }
}